img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 50px;
}

.game-container {
  width: 60%;
  float: left;
  clear: both;
}

.owner-container {
  width: 30%;
  margin-left: 25px;
  float: left;
}